<p-toast></p-toast>
<div class="p-4">
    <div class="flex justify-between mb-4">
      <div class="relative w-full max-w-xs">
        <input type="text" id="search" class="bg-gray-50 border border-gray-400S text-black text-sm rounded-lg block w-full pl-10 p-2.5 shadow-sm" placeholder="Search..." (input)="onSearch($event)">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-7 h-7 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
      </div>
      <button (click)="openNew()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded shadow-lg">
        Ajouter
      </button>
    </div>
  
    <!-- Table -->
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-black">
        <thead class="text-xs text-black uppercase bg-gray-50">
          <tr>
            <th scope="col" class="py-3 px-6">Email</th>
            <th scope="col" class="py-3 px-6">Password</th>
            <th scope="col" class="py-3 px-6">Status</th>
            <th scope="col" class="py-3 px-6">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of displayedEntitys" class="bg-white border-b hover:bg-gray-50">
            <td class="py-4 px-6">{{ entity.email }}</td>
            <td class="py-4 px-6"><span class="blur-[1px] cursor-not-allowed select-none">{{ entity.password }}</span></td>
            <td class="py-4 px-6">
              <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-semibold leading-none text-red-100 bg-red-600 rounded" *ngIf="!entity.status; else enabled">Disabled</span>
              <ng-template #enabled>
                <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-semibold leading-none text-green-100 bg-green-600 rounded">Enabled</span>
              </ng-template>
            </td>
            <td class="py-4 px-6 flex items-center justify-center gap-2">
              <button (click)="editEntity(entity)" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center">
                <i class="pi pi-pencil"></i>
              </button>
              <button (click)="openConfirmDialog(entity)" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center">
                <i class="pi pi-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredEntitys.length === 0">
            <td colspan="4" class="text-center py-4 px-6">Aucun Admin Trouvé</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4 flex justify-center items-center">
        <button 
            (click)="prev()" 
            [disabled]="isFirstPage()" 
            class="disabled:opacity-50 disabled:cursor-not-allowed mr-2 bg-transparent text-gray-500 hover:text-gray-700 font-bold p-2 rounded inline-flex items-center">
            <!-- Left Arrow Icon for Previous -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        
        <span class="text-sm text-gray-700">
            Page {{currentPage}} de {{totalPages}}
        </span>
        
        <button 
            (click)="next()" 
            [disabled]="isLastPage()" 
            class="disabled:opacity-50 disabled:cursor-not-allowed ml-2 bg-transparent text-gray-500 hover:text-gray-700 font-bold p-2 rounded inline-flex items-center">

            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
    </div>
  </div>

    <div id="entityDialog" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center modal-overlay" *ngIf="entityDialog">
      <div class="bg-white dark:bg-gray-800 p-5 rounded-lg max-w-md w-full">
          <h2 class="text-xl font-semibold mb-4">Formulaire d'admin</h2>
          <div class="space-y-4">
              <div>
                  <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
           
                  <select [(ngModel)]="selectedStatus" id="status" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                      <option *ngFor="let option of status" [ngValue]="option">{{option.name}}</option>
                  </select>
              </div>
              <div>
                  <label for="name" class="block text-sm font-medium text-gray-700">Username</label>
                  <input type="text" [(ngModel)]="entity.email" id="name" required autofocus class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Enter username">
                  <small class="text-red-600" *ngIf="submitted && !entity.email">Username is required.</small>
              </div>
              <div>
                  <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                  <input type="password" [(ngModel)]="entity.password" id="password" required autofocus minlength="8" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Enter password">
                  <small class="text-red-600" *ngIf="submitted && !entity.password">Password is required.</small>
              </div>
          </div>
          <div class="mt-5 flex justify-end gap-3">
              <button type="button" (click)="hideDialog()" class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Fermer</button>
              <button type="button" (click)="saveProduct()" class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Valider</button>
          </div>
      </div>
  </div>

  <div *ngIf="showConfirmDialog" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg p-5 max-w-md w-full">
      <h2 class="text-lg font-semibold">Confirm Deletion</h2>
      <p class="my-4">Are you sure you want to delete {{adminToDelete?.email}}?</p>
      <div class="flex justify-end gap-4">
        <button (click)="cancelDelete()" class="py-2 px-4 bg-gray-200 text-gray-800 rounded hover:bg-gray-300">Cancel</button>
        <button (click)="confirmDelete()" class="py-2 px-4 bg-red-500 text-white rounded hover:bg-red-600">Delete</button>
      </div>
    </div>
  </div>