.container-fluid {
  height: 100%;
  padding: 0px;
  display: grid;
  grid-template-columns: 16% auto;
  padding: 30px;
  .bodycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-row: 1 / 2 span;
  }
}

.bodycomponent {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}
