:host {
  ::ng-deep {
    .p-toolbar-group-left {
      gap: 10px;
    }
    .p-datatable {
      font-size: 0.7rem !important;
    }
    .p-column-filter-menu {
      padding: 0px !important;
    }
    .p-element {
      font-size: 0.2rem !important;
    }
    .p-fileupload-choose {
      border: none;
      background-color: #1e6d42;
    }
  }
}
